body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
header {
  display: flex;
  flex-direction: column;
}
.menu-bar {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px 8px 24px;
}
.hamburger {
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 800;
  text-align: left;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
}
.left-links {
  padding-left: 24px;
  display: flex;
  gap: 24px;
  font-size: 14px;
  align-items: center;
}
.right-links {
  margin: 0px;
  padding: 12px 0px;
  display: flex;
  gap: 90px;
  align-items: center;
}
.location {
  display: flex;
  gap: 4px;
}

.nav-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}
.buttons {
  display: flex;
  gap: 12px;
}
button {
  padding: 0px;
  border: none;
  background: none;
}
.curators {
  font-size: 80px;
  font-style: italic;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main1 {
  background: var(--Dot-Shop-Soft-Olive-Soft-Olive-900, #a3a6a0);
  background-size: contain;
}
.container1 {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.section-1 {
  /* width: 685px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.pamela {
  font-size: 120px;
  font-style: italic;
  font-weight: 400;
  /* line-height: 120px; */
  text-align: left;
}
.pamela-content {
  font-size: 14px;
  font-weight: 800;
  line-height: 16.8px;
  text-align: left;
  color: var(--Dot-Shop-Black-700, #404040);
}
.image-row {
  display: flex;
  gap: 11px;
}
.store {
  background: var(--Dot-Shop-Black-900, #0a0a0a);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  color: #ffffff;
  padding: 45px 15px;
}
.section-2 {
  width: 684px;
  height: 528px;
}
.main2 {
  padding: 24px;
  background: var(--Dark-Red, #800c0c);
}
.lauren {
  font-size: 120px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  color: var(--Dot-Shop-White, #ffffff);
}
.lauren-content {
  font-size: 14px;
  font-weight: 800;
  line-height: 16.8px;
  text-align: left;
  color: var(--Dot-Shop-Black-300, #d4d4d4);
}
.main3 {
  padding: 24px;
  background: var(--Blue, #8097c0);
}

.main4 {
  padding: 24px;
  background: var(--Yellow, #ffcb24);
}
.container2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
  justify-content: space-between;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 24px;
  background: var(--Dot-Shop-Soft-Olive-Soft-Olive-500, #c8cac6);
}
.blank2 {
  width: 170px;
}
.footer-1 {
  display: flex;
  justify-content: space-between;
}
.col-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.row-1 {
  width: 317px;
  display: flex;
  justify-content: space-between;
}
.row-2 {
  width: 317px;
  display: flex;
  justify-content: space-between;
}
.about {
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  color: var(--Dot-Shop-Black-900, #0a0a0a);
}
.footer-2 {
  display: flex;
  justify-content: space-between;
}
.rights {
  width: 275px;
  padding-top: 25px;
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
}
@media (min-width: 390px) and (max-width: 768px) {
  .hamburger {
    width: 80px;
  }
  .logo {
    width: 32px;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  .dotshop {
    display: none;
  }
  .left-links {
    display: none;
  }
  .location {
    display: none;
  }
  .log-in {
    display: none;
  }
  .user-img {
    height: 18px;
  }
  .nav-bar {
    padding-right: 16px;
  }
  .nav-buttons {
    gap: 12px;
  }
  .curators {
    font-size: 48px;
    font-style: italic;
    line-height: 48px;
  }
  
  .section-2 {
    height: 360px;
    width: 360px;
  }
  .container1 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .container2 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .coat {
    display: none;
  }

  .img {
    width: 81px;
    height: 81px;
  }
  .pamela {
    font-size: 60px;
    text-align: left;
  }
  .lauren {
    font-size: 60px;
    text-align: left;
  }
  .section-1 {
    gap: 16px;
  }
  .store {
    padding: 34px 0px;
    text-align: center;
    font-size: 12px;
    width: 81px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
}
